@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Change the color of custom icons in the navbar */
body {
  margin: 0;
  padding: 0;
}

.custom-text {
  font-family: 'Poppins', sans-serif;
}

.navbar-container {
  position: fixed;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 99%;
  max-width: 1800px;
  z-index: 1000;
}

.menubar {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-top: 15px;
}

/* Navbar.css */

.navbar-container {
  margin-top: 10px;
  /* Adjust the gap from the top as needed */
}

/* Add any other styles you may need for the navbar */



/* styles.css */
.navbar {
  padding: 1rem;
  color: #333;
  background-color: #f0f0f0;
  /* ... other common styles */
}

.navbar.dark {
  color: #fff;
  background-color: #333;
  /* ... dark mode styles */
}

/* Custom styling for the badge */
.navbar-button .p-badge {
  background-color: #09828d;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}